<div class="url-shortener-wrapper">
  <div class="d-flex align-items-center pb-3">
    <div class="caption text-c300 option-label">
      Anyone can see and copy the shorten URL.
    </div>
    <div>
      <input id="toggle-on" class="toggle toggle-left" name="toggle" value="1" type="radio" (change)="handleChange($event)" [checked]="option == 1">
      <label for="toggle-on" class="toggle-option">Yes</label>
      <input id="toggle-off" class="toggle toggle-right" name="toggle" value="0" type="radio" (change)="handleChange($event)" [checked]="option == 0">
      <label for="toggle-off" class="toggle-option">No</label>
    </div>
  </div>
  <form [formGroup]="urlForm">
    <div class="d-flex input_wrapper">
      <input #url formControlName="url" class="url_input" placeholder="Paste your original URL here">
      <button class="primary_btn" (click)="onClickButton()" [disabled]="!urlForm.valid">Shorten it</button>
    </div>
    <div *ngIf="m.url.invalid && (m.url.dirty || m.url.touched)">
      <div class="caption-light text-r100 invalid-url" *ngIf="m.url.errors?.pattern">Please provide valid url</div>
    </div>
  </form>
</div>
