@mixin btn
  border: none
  outline: none


.url_input
  width: 92%
  height: 48px
  padding: 12px
  border: 1px solid #CED4DA
  border-radius: 8px

.url_input:focus
  outline: 1px solid #2AD0D1
  border: none

.primary_btn
  width: 18%
  height: 48px
  padding: 12px
  margin-left: 30px
  color: #FFFFFF
  background: #2AD0D1
  border-radius: 8px
  @include btn

