$col_spacing: 40px

@mixin truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.col-wrapper
  padding: 10px 0px

.first-col
  width: 14%
  padding-right: $col_spacing


.second-col
  width: 52%
  padding-right: $col_spacing
  @include truncate


.third-col
  width: 34%
  a
    padding-right: 5px
    @include truncate


