<div>
  <div class="text-c300 caption-bold d-flex col-wrapper" *ngFor="let url of urlList">
    <div class="first-col">
      {{ url.date | date: 'MMM d, y' }}
    </div>
    <div class="second-col">
      {{ url.longUrl }}
    </div>
    <div class="d-flex justify-content-between third-col">
      <a class="text-s700 shorturl-link" href="{{url.shortUrl}}">
        {{ url.shortUrl }}
      </a>
      <div>
        <i class="far fa-copy text-c100 copy-btn" (click)="copyShortUrl(url.shortUrl)"></i>
      </div>
    </div>
  </div>
</div>
